c_compiler:
  - clang_bootstrap            # [osx]
  - vs2022                     # [win]
cxx_compiler:
  - clang_bootstrap            # [osx]
  - vs2022                     # [win]

# Stage 2: Self-hosted build with clang 21 compiler
c_compiler_version:
  - 11.2.0            # [linux]
  - 21.1.8            # [osx]
cxx_compiler_version:
  - 11.2.0            # [linux]
  - 21.1.8            # [osx]

# Starting from LLVM 14, the ABI of libclang doesn't necessarily
# match the major version anymore - cf. #170 and
# https://github.com/llvm/llvm-project/issues/54004
libclang_soversion:
  - 13

variant:
  - default
# For future compatibility with AMD ROCm
# https://github.com/ROCm/hcc
#  - hcc   # [linux]

c_stdlib_version:   # [win]
  - 2022.14         # [win]